html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #top{
        position: absolute; 
        top: 60px; 
        left: 30px; 
        width: 37%;
        height: 18%;
        border: 0px;
        background-color: grey;
        padding-top: 35px;
        padding-left: 30px;

      }