html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
      }
      #map {
        height: 100%;
      }

      #frontlayer{
        
        position: absolute; 
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100%;

      }

      #top{
        border: 0px;
        background: rgba(169, 169, 169, 0.3);
        border-radius: 10px;

      }
      #bot{
        border: 0px;
        background: rgba(169, 169, 169, 0.3);
        border-radius: 10px;
      }